.portfolio__project-container__project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

}


.portfolio__project-container__project-text{
    font-family: var(--font-family);
    color: var(--color-text);
    max-width: 200px;

}


@media screen and (max-width: 850px) {

    .portfolio__project-container__project-image img {
        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width: 680px) {

    .portfolio__project-container__project-image img {
        width: 35px;
        height: 35px;
    }
}