.portfolio__tools {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-family: var(--font-family);
}

.portfolio__tools-header {
    margin-bottom: 2rem;
}

.portfolio__tools-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.portfolio__tools-container img {
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 550px) {
    .portfolio__tools{
        padding: 0;
        border-radius: 0;
    }

    .portfolio__tools-container img {
        width: 40px;
        height: 40px;
    }
}