.portfolio__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: var(--color-blog);

    top: -1rem;
    padding: 2rem 6rem;
    position: fixed;
    width: 100%;
}

.portfolio__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.portfolio__navbar-links_logo {
    margin-right: 1rem;
}

.portfolio__navbar-links_logo img {
    width: 60px;
    height: 30px;
}

.portfolio__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.portfolio__navbar-links_container p,
.portfolio__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    text-transform: capitalize;
    font-size: 20px;
    line-height: 25px;
    margin: 0 1rem;
    padding-top: 0.5rem;
    cursor: pointer;
    font-weight: 500;
}

.portfolio__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,2);
}

.portfolio__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

@media screen and (max-width: 1050px) {
    .portfolio__navbar-links_container {
        display: none;
    }

    .portfolio__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .portfolio__navbar {
        padding: 2rem 4rem;
    }
}