.portfolio__skill-container__skill {
    align-items: center;
}

.portfolio__skill-container__skill-image{
 margin: 1rem 0 0 0;
 
}

.portfolio__skill-container__skill-text{
    font-family: var(--font-family);
    color: var(--color-text);
    max-width: 100px;
    margin-left: 1rem;
    margin-right: 1rem;
}